/portod
/portod-meta-root
/portoctl
/portotest
/libporto.a
/*.o
/*.pb.cc
/*.pb.h
/obj-*-linux-gnu/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile
/test
/version.hpp
/CPackConfig.cmake
/CPackSourceConfig.cmake
/debian-binary
/install_manifest.txt
/tags
/debian/tmp/
/debian/files
/debian/*.debhelper
/debian/*.debhelper.log
/debian/yandex-porto.substvars
/debian/yandex-porto/
/debian/yandex-search-porto/
/debian/yandex-search-group-porto/
/debian/yandex-search-porto-config/
/debian/python-portopy/
/TAGS
/api/python/porto/rpc_pb2.py*
/dist/*.img
/dist/fedora/
/dist/trusty/
/dist/yandex/
*.py[oc]
/libnl-prefix/
