/portod
/portoctl
/portotest
/api/cpp/libporto.a
/*.o
/*.pb.cc
/*.pb.h
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile
/test
/version.hpp
/CPackConfig.cmake
/CPackSourceConfig.cmake
/debian-binary
/install_manifest.txt
/tags
/debian/files
/debian/yandex-porto.debhelper.log
/debian/yandex-porto.substvars
/debian/yandex-porto/
/TAGS
/api/python/porto/rpc_pb2.py*
