portod
portoinit
portoctl
portotest
*.o
*.a
*.pb.cc
*.pb.h
*.py[oc]
rpc_pb2.py*
version.c
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
/obj-*-linux-gnu/
/debian-binary
/install_manifest.txt
/tags
/TAGS
/debian/tmp/
/debian/files
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/yandex-porto/
/debian/python-portopy/
/spec/porto.spec
/src/libnl-prefix/
/coverage.info
/coverage.info.cleaned
/coverage/
/build/
/test/Testing/
.vscode