os: linux

language: cpp

script:
  - CC=gcc-4.7 CXX=g++-4.7 cmake -D USE_SYSTEM_LIBNL=OFF .
  - make

compiler: gcc

branches:
  only: master

addons:
  apt:
    # For gcc-4.7
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - build-essential
    - libtool
    - autoconf
    - libncurses5-dev
    - libprotobuf-dev
    - protobuf-compiler
    - gcc-4.7
    - g++-4.7
    - pandoc
