Source: yandex-porto
Section: utils
Priority: extra
Maintainer: Eugene Kilimchuk <ekilimchuk@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), bison, flex, pkg-config
Standards-Version: 3.9.2
Homepage: https://wiki.yandex-team.ru/porto
#Vcs-Git: ssh://git.yandex.ru/search-admin/porto.git

Package: yandex-porto
Section: utils
Priority: extra
Architecture: amd64
Pre-Depends: yandex-search-group-porto
Depends: ${shlibs:Depends}, logrotate, linux-image-server (>= 3.4.0) | linux-image-generic (>= 3.4.0)
Description: Component of Nirvana
 Porto allows to run process in namespace with cgroup.
