Source: yandex-porto
Section: utils
Priority: extra
Maintainer: Eugene Kilimchuk <ekilimchuk@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), libnl-3-dev, libnl-route-3-dev, ctags
Standards-Version: 3.9.2
Homepage: https://wiki.yandex-team.ru/porto
#Vcs-Git: ssh://git.yandex.ru/search-admin/porto.git

Package: yandex-porto
Section: utils
Priority: extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${utils:DependsI}, logrotate, libnl-route-3-200, libnl-3-200
Description: Component of Nirvana
 Porto allows to run process in namespace with cgroup.
