#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/yandex-porto
SBINDIR=$(DESTDIR)/usr/sbin
BUILD_TYPE?=Release
export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=$(BUILD_TYPE)

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_install:
	dh_install
	dh_bash-completion
	$(SBINDIR)/portoctl --help

override_dh_auto_test:

%:
	dh $@ --with python2,python3 --without python-support --parallel
