[Unit]
Description=Porto service
After=network-online.target
Requires=network-online.target
Documentation=https://github.com/yandex/porto

[Service]
ExecStart=/usr/sbin/portod
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/portoloop.pid
Restart=on-failure
KillSignal=SIGINT
KillMode=process

[Install]
WantedBy=multi-user.target
